<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desciption" content="Predict whether you would have survived on the Titanic ship. It uses a machine learning model trained on the Kaggle Titanic Dataset using the Random Forest Classifier.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Would you have survived?</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="bg-gray-300 mt-4">
    <div class="rounded bg-white container mx-auto p-4 border-t-4 border-blue-dark max-w-lg shadow">
        <a href="https://github.com/techytushar/would-you-have-survived" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;"
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"
                height="140px" width="140px"></a>
        <div class="leading-normal">
            <h1>Would you have survived?</h1>
            <p class="text-grey-darker">Fill the form below to predict whether you would have survived on
                the Titanic ship.</p>
            <p class="text-grey-darker">It uses a machine learning model trained on the Kaggle Titanic
                Dataset using the Random Forest Classifier which gained an accuracy of 86.94%</p>
            <p class="text-grey-dark font-thin">PS: I don't intend to hurt anyone's feelings.</p>
        </div>
        <div class="mt-4" id="form">
            <div class="alert error bg-red-lightest hidden p-4 text-center rounded mb-4">
            </div>
            <form>
                <div class="flex flex-1 border-b border-b-2 border-blue-dark max-w-sm mb-2">
                    <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" id="name" placeholder="Name">
                </div>
                <div class="flex flex-1 border-b border-b-2 border-blue-dark max-w-sm mb-2">
                    <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" id="age" placeholder="Age" maxlength="3">
                </div>
                <div class="flex flex-1 border-b border-b-2 border-blue-dark max-w-sm mb-2">
                    <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" id="sibsp" maxlength="2" placeholder="Number of Siblings or Spouse aboard">
                </div>
                <div class="flex flex-1 border-b border-b-2 border-blue-dark max-w-sm mb-2">
                    <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" id="parch" maxlength="2" placeholder="Number of Parents or Children aboard">
                </div>
                <div class="leading-normal">


                    <div>
                        <label class="text-grey-dark font-semibold" for="pclass">Ticket Class: </label>
                        <div class="flex flex-col">
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="pclass" checked value="1">First Class</label>
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="pclass" value="2">Second Class</label>
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="pclass" value="3">Third Class</label>
                        </div>
                    </div>
                    <div>
                        <label class="text-grey-dark font-semibold" for="gender">Gender: </label>
                        <div class="flex flex-col">
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="gender" value="1" checked>Male</label>
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="gender" value="0">Female</label>
                        </div>
                    </div>
                    <div>
                        <label class="text-grey-dark font-semibold" for="port">Port of Embarkation: </label>
                        <div class="flex flex-col">
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="port" value="1" checked>Cherbourg</label>
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="port" value="2">Queenstown</label>
                            <label class="text-sm text-grey-dark"><input class="mr-2" type="radio" name="port" value="3">Southampton</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="mt-4">
                <button id="predict" class="border-2 text-white bg-blue-500 font-semibold border-blue-dark px-2 py-1 rounded">Predict!</button>
            </div>
        </div>
    </div>
    <p class="footer text-center pt-4">Made with <span style="color:rgb(255, 109, 109)">♥</span> by <a href="https://techytushar.github.io/"
            target="_blank">Tushar Mittal (@techytushar)</a></p>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
    function display_error(message) {
        $(".error").removeClass("alert-success alert-warning");
        $(".error").addClass("alert-danger");
        $("div.error").html(`<strong>${message}</strong>`);
        $("div.error").css("display", "block");
        setTimeout(() => {
            $(".error").html("");
            $(".error").css("display", "none");
        }, 2000)
    }

    function make_form() {
        let form = {};
        form['name'] = $("#name").val();
        form['age'] = $("#age").val();
        form['sibsp'] = $("#sibsp").val();
        form['parch'] = $("#parch").val();
        form['pclass'] = $('input[name=pclass]:checked').val();
        form['port'] = $('input[name=port]:checked').val();
        form['sex'] = $('input[name=gender]:checked').val();
        return form;
    }

    $("#predict").click(() => {
        let name = $("#name").val().trim();
        let age = $("#age").val().trim();
        let sibsp = $("#sibsp").val().trim();
        let parch = $("#parch").val().trim();
        let pclass = $('input[name=pclass]:checked').val();
        let port = $('input[name=port]:checked').val();
        let gender = $('input[name=gender]:checked').val();
        let regex = /^[0-9]+$/;
        if (name == "") {
            display_error("Please enter a valid name");
            return;
        }
        if (age == "" || !age.match(regex)) {
            display_error("Please enter a valid age");
            return;
        }
        if (sibsp == "" || parch == "" || !sibsp.match(regex) || !parch.match(regex)) {
            display_error("Please enter a valid integer value");
            return;
        }
        name = name.split(" ")[0].toUpperCase();
        $("#predict").text("Predicting...");
        let form = make_form();
        $.ajax({
            type: "POST",
            contentType: 'application/json;charset=UTF-8',
            enctype: 'multipart/form-data',
            url: "/predict",
            cache: false,
            dataType: 'json',
            timeout: 600000,
            data: JSON.stringify(form),
            success: function (data) {
                if (data["survived"] == '1') {
                    swal("Survival", `Congratulations ${name}! Survivial is yours.`, "success");
                    $("#predict").text("Predict");
                }
                else {
                    swal("Sinking Ship", `Sorry ${name}! You would not have survived the Titanic Crash. :(`, "warning");
                    $("#predict").text("Predict");
                }
            },
            error: function (e) {
                swal("Error", "Some error occured, please try again later", "error");
                $("#predict").text("Predict");
            }
        });
    })

</script>

</html>
